#player {
    font-size: 40pt; 
    color: crimson;
    text-decoration: underline;
}

#playingplayer {
    display: inline-block;
}

#numberthrown {
    display: inline;
    color: blue;
    margin-left: 5px;
    text-decoration: underline;
}